[submodule "avnet_send_message/AzureSphereDevX"]
	path = avnet_send_message/AzureSphereDevX
	url = https://github.com/bawilless/AzureSphereDevX.git
[submodule "avnet_send_message/HardwareDefinitions"]
	path = avnet_send_message/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "starter_project/AzureSphereDevX"]	
	path = starter_project/AzureSphereDevX	
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "starter_project/HardwareDefinitions"]
	path = starter_project/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "avnet_sk_demo/HardwareDefinitions"]
	path = avnet_sk_demo/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "avnet_sk_demo/AzureSphereDevX"]
	path = avnet_sk_demo/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
