[submodule "avnet_send_message/AzureSphereDevX"]
	path = avnet_send_message/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_send_message/HardwareDefinitions"]
	path = avnet_send_message/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "azure_end_to_end/AzureSphereDevX"]
	path = azure_end_to_end/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "azure_end_to_end/HardwareDefinitions"]
	path = azure_end_to_end/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "azure_send_message/AzureSphereDevX"]
	path = azure_send_message/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "azure_send_message/HardwareDefinitions"]
	path = azure_send_message/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "deferred_update/AzureSphereDevX"]
	path = deferred_update/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "deferred_update/HardwareDefinitions"]
	path = deferred_update/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "device_twins/AzureSphereDevX"]
	path = device_twins/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "device_twins/HardwareDefinitions"]
	path = device_twins/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "direct_methods/AzureSphereDevX"]
	path = direct_methods/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "direct_methods/HardwareDefinitions"]
	path = direct_methods/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "gpio_example/AzureSphereDevX"]
	path = gpio_example/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "gpio_example/HardwareDefinitions"]
	path = gpio_example/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "little_fs_on_mutable_storage/AzureSphereDevX"]
	path = little_fs_on_mutable_storage/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "little_fs_on_mutable_storage/HardwareDefinitions"]
	path = little_fs_on_mutable_storage/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "monitor_memory_usage/AzureSphereDevX"]
	path = monitor_memory_usage/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "monitor_memory_usage/HardwareDefinitions"]
	path = monitor_memory_usage/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "starter_project/AzureSphereDevX"]
	path = starter_project/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "starter_project/HardwareDefinitions"]
	path = starter_project/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "timer_example/AzureSphereDevX"]
	path = timer_example/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "timer_example/HardwareDefinitions"]
	path = timer_example/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "uart_example/AzureSphereDevX"]
	path = uart_example/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "uart_example/HardwareDefinitions"]
	path = uart_example/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "intercore_example/HighLevelApp/AzureSphereDevX"]
	path = intercore_example/HighLevelApp/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "intercore_example/HighLevelApp/HardwareDefinitions"]
	path = intercore_example/HighLevelApp/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "little_fs_on_mutable_storage/littlefs"]
	path = little_fs_on_mutable_storage/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "intercore_example/RealTimeAppOne/mt3620_m4_software"]
	path = intercore_example/RealTimeAppOne/mt3620_m4_software
	url = https://github.com/MediaTek-Labs/mt3620_m4_software.git
[submodule "intercore_example/RealTimeAppTwo/mt3620_m4_software"]
	path = intercore_example/RealTimeAppTwo/mt3620_m4_software
	url = https://github.com/MediaTek-Labs/mt3620_m4_software.git
[submodule "error_reporting/HardwareDefinitions"]
	path = error_reporting/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "error_reporting/AzureSphereDevX"]
	path = error_reporting/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_sk_demo/HardwareDefinitions"]
	path = avnet_sk_demo/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "avnet_sk_demo/AzureSphereDevX"]
	path = avnet_sk_demo/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_gw_send_message/AzureSphereDevX"]
	path = avnet_gw_send_message/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_gw_send_message/HardwareDefinitions"]
	path = avnet_gw_send_message/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "tools"]
	path = tools
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.Tools.git
[submodule "pwm_example/HardwareDefinitions"]
	path = pwm_example/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "pwm_example/AzureSphereDevX"]
	path = pwm_example/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "pwm_click_buzz/AzureSphereDevX"]
	path = pwm_click_buzz/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "pwm_click_buzz/HardwareDefinitions"]
	path = pwm_click_buzz/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "intercore_example/tools"]
	path = intercore_example/tools
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.Tools
[submodule "avnet_end_to_end/AzureSphereDevX"]
	path = avnet_end_to_end/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_end_to_end/HardwareDefinitions"]
	path = avnet_end_to_end/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "intercore_generic_example/AzureSphereDevX"]
	path = intercore_generic_example/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "intercore_generic_example/HardwareDefinitions"]
	path = intercore_generic_example/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "device_twins_json_object/AzureSphereDevX"]
	path = device_twins_json_object/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "device_twins_json_object/HardwareDefinitions"]
	path = device_twins_json_object/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "avnet_RTAppLab_app/AzureSphereDevX"]
	path = avnet_RTAppLab_app/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_RTAppLab_app/HardwareDefinitions"]
	path = avnet_RTAppLab_app/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule ".\\avnet_RTAppLab_app\\HardwareDefinitions"]
	path = .\\avnet_RTAppLab_app\\HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "avnet_bbq_monitor/AzureSphereDevX"]
	path = avnet_bbq_monitor/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_bbq_monitor/HardwareDefinitions"]
	path = avnet_bbq_monitor/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule ".\\avnet_rsl10_2devices\\AzureSphereDevX"]
	path = .\\avnet_rsl10_2devices\\AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule ".\\avnet_rsl10_2devices\\HardwareDefinitions"]
	path = .\\avnet_rsl10_2devices\\HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "avnet_sensors_converge/avnet_lightranger5/AzureSphereDevX"]
	path = avnet_sensors_converge/avnet_lightranger5/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_sensors_converge/avnet_lightranger5/HardwareDefinitions"]
	path = avnet_sensors_converge/avnet_lightranger5/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "avnet_sensors_converge/avnet_tempHum13/AzureSphereDevX"]
	path = avnet_sensors_converge/avnet_tempHum13/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_sensors_converge/avnet_tempHum13/HardwareDefinitions"]
	path = avnet_sensors_converge/avnet_tempHum13/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "avnet_rsl10_2devices/AzureSphereDevX"]
	path = avnet_rsl10_2devices/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_rsl10_2devices/HardwareDefinitions"]
	path = avnet_rsl10_2devices/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "avnet_sensors_converge/avnet_smart_retail_shelf/AzureSphereDevX"]
	path = avnet_sensors_converge/avnet_smart_retail_shelf/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_sensors_converge/avnet_smart_retail_shelf/HardwareDefinitions"]
	path = avnet_sensors_converge/avnet_smart_retail_shelf/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "avnet_sensors_converge/avnet_PHT/HardwareDefinitions"]
	path = avnet_sensors_converge/avnet_PHT/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "avnet_sensors_converge/avnet_PHT/AzureSphereDevX"]
	path = avnet_sensors_converge/avnet_PHT/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_smart_parking/AzureSphereDevX"]
	path = avnet_smart_parking/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_smart_parking/HardwareDefinitions"]
	path = avnet_smart_parking/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "avnet_low_power_temp_hum/AzureSphereDevX"]
	path = avnet_low_power_temp_hum/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_low_power_temp_hum/HardwareDefinitions"]
	path = avnet_low_power_temp_hum/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "avnet_nespresso_demo/AzureSphereDevX"]
	path = avnet_nespresso_demo/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_nespresso_demo/HardwareDefinitions"]
	path = avnet_nespresso_demo/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
