[submodule "avnet_send_message/AzureSphereDevX"]
	path = avnet_send_message/AzureSphereDevX
	url = https://github.com/bawilless/AzureSphereDevX.git
[submodule "avnet_send_message/HardwareDefinitions"]
	path = avnet_send_message/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "starter_project/AzureSphereDevX"]	
	path = starter_project/AzureSphereDevX	
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "starter_project/HardwareDefinitions"]
	path = starter_project/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "avnet_sk_demo/HardwareDefinitions"]
	path = avnet_sk_demo/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "avnet_sk_demo/AzureSphereDevX"]
	path = avnet_sk_demo/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_gw_send_message/AzureSphereDevX"]
	path = avnet_gw_send_message/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_gw_send_message/HardwareDefinitions"]
	path = avnet_gw_send_message/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "tools"]
	path = tools
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.Tools.git
[submodule "pwm_example/HardwareDefinitions"]
	path = pwm_example/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "pwm_example/AzureSphereDevX"]
	path = pwm_example/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "pwm_click_buzz/AzureSphereDevX"]
	path = pwm_click_buzz/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "pwm_click_buzz/HardwareDefinitions"]
	path = pwm_click_buzz/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "intercore_example/tools"]
	path = intercore_example/tools
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.Tools
[submodule "avnet_end_to_end/AzureSphereDevX"]
	path = avnet_end_to_end/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "avnet_end_to_end/HardwareDefinitions"]
	path = avnet_end_to_end/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "intercore_generic_example/AzureSphereDevX"]
	path = intercore_generic_example/AzureSphereDevX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.git
[submodule "intercore_generic_example/HardwareDefinitions"]
	path = intercore_generic_example/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
